.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon {
    display: flex;
    font-size: 1.95rem;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-text-color);
  }
  span {
    margin-left: 0.7em;
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--tertiary-text-color);
  }
}

.active-nav-item {
  .icon {
    color: var(--primary-color);
  }
  span {
    color: var(--secondary-text-color);
  }
}

.nav-item + .nav-item {
  margin-top: 2rem;
}
