.notification-card {
  position: relative;
  padding: 2.5rem 3rem;
  border-radius: 1.3rem;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  &-body {
    display: flex;

    .avatar {
      width: 4rem;
      height: 4rem;
    }
    .content {
      cursor: pointer;
      padding: 0 1.3rem;
      margin-right: 3rem;
      h6 {
        font-size: 1.4rem;
        margin: 0;
        margin-top: 0.1em;
        margin-bottom: 0.3em;
      }
      p {
        margin: 0;
        font-size: 1.3rem;
      }
    }
  }
  &-top-right {
    top: 2.5rem;
    right: 2rem;
    display: flex;
    position: absolute;
    display: flex;
    align-items: flex-start;
    .time {
      font-weight: 500;
      font-size: 1.1rem;
      color: var(--secondary-text-color);
    }
    .menu {
      position: relative;
      bottom: 1.2rem;
      margin-left: 0.5rem;
    }
    @media screen and (max-width: 690px) {
      top: 2.5rem;
      right: 0.5rem;
    }
  }

  &.has-read {
    filter: saturate(0.5) brightness(0.95);
    .dark & {
      filter: saturate(0.85) brightness(0.85);
    }
  }

  &.with-popup {
    z-index: 1;
  }

  @media screen and (max-width: 690px) {
    padding: 2.5rem 1.5rem 2.5rem 2rem;
  }
}

.notification-card + .notification-card {
  margin-top: 1rem;
  @media screen and (max-width: 690px) {
    margin-top: 1.5rem;
  }
}
