.btn {
  border: none;
  margin: 0.8rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  border-radius: 5rem;
  padding: 0.8em 2.5rem;
  transition: var(--transition);
  transition-property: transform;
  &:active {
    transform: translateY(0.16rem);
  }
  &:hover {
    filter: brightness(0.9);
  }
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--tertiary-bg-color);
}

.secondary-btn {
  color: hsl(245, 70%, 50%);
  background-color: hsl(245, 99%, 93%);
}
