.btn {
  border: none;
  margin: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.05rem;
  transition: var(--transition);
  transition-property: transform;
  font-size: 1.4rem;
  padding: 0.7em 1.2em;
  border-radius: 0.3em;
  font-weight: 600;
  &:active:not(.loading) {
    transform: translateY(0.16rem);
  }
  @media (hover: hover) {
    &:hover:enabled:not(.loading) {
      filter: brightness(0.9);
    }
  }
  &:disabled {
    cursor: no-drop;
    filter: saturate(0);
  }
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
}

.secondary-btn {
  color: hsl(245, 70%, 50%);
  background-color: hsl(243, 79%, 95%);
  .dark & {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
  }
}

.secondary-btn.loading {
  background: hsl(243, 79%, 95%)
    repeating-linear-gradient(60deg, transparent, transparent 10px, #d4d2ff 10px, #d4d2ff 20px);
  background-size: 200% 200%;
  animation: button-loading 3s linear infinite;
  .dark & {
    background: transparent
      repeating-linear-gradient(60deg, transparent, transparent 10px, #2c3241 10px, #2c3241 20px);
    background-size: 200% 200%;
    animation: button-loading 3s linear infinite;
  }
}

.primary-btn.loading {
  background: var(--primary-color)
    repeating-linear-gradient(60deg, transparent, transparent 10px, #8f85fd 10px, #8f85fd 20px);
  background-size: 200% 200%;
  animation: button-loading 3s linear infinite;
}

@keyframes button-loading {
  100% {
    background-position: 100% 100%;
  }
}
