.question-card {
  margin: 2rem 0;
  display: flex;
  padding: 2.5rem 3rem;
  border-radius: 1.3rem;
  flex-direction: column;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    .author-details {
      display: flex;
      align-items: center;
      .avatar {
        width: 4.2rem;
        height: 4.2rem;
      }
      div {
        margin-left: 1rem;
        h6 {
          font-size: 1.4rem;
          margin: 0;
          margin-bottom: 0.15rem;
        }
        span {
          font-size: 1.2rem;
          color: var(--secondary-text-color);
        }
      }
    }
    .time {
      font-weight: 500;
      font-size: 1.1rem;
      color: var(--secondary-text-color);
    }
  }
  &-middle {
    margin-bottom: 3.5rem;
    h2 {
      margin: 0;
      margin-bottom: 0.4em;
    }
    p {
      margin: 0;
      font-size: 1.4rem;
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    &-left {
      .view-more-btn {
        margin: 0;
        font-size: 1.2rem;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 1.1rem;
        margin-right: 2em;
        color: var(--secondary-text-color);
      }
    }
  }
}
