.theme-control-card {
  width: 100%;
  padding: 2.5rem;
  border-radius: 1.3rem;
  background-color: var(--secondary-bg-color);
  h3 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.6rem;
  }
  .dark-mode-control {
    margin-bottom: 2rem;
    .button-grp {
      display: flex;
      .dark-mode-toggle-btn {
        font-size: 2.5rem;
      }
      .dark-mode-toggle-btn + .dark-mode-toggle-btn {
        margin-left: 1rem;
      }
    }
  }
}
