.menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  .menu-item {
    width: 100%;
    cursor: pointer;
    border-radius: 0.2rem;
    padding: 0.8rem 2rem;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 1.4rem;
    @media (hover: hover) {
      &:hover {
        background-color: rgb(236, 236, 236);
        .dark & {
          background-color: rgba(100, 100, 100, 0.116);
        }
      }
    }
  }
}
