.badge {
  padding: 0.5rem;
  border-radius: 0.5rem;
  span {
    font-weight: 600;
  }
  color: var(--badge-color);
  background-color: var(--badge-background);
  .dark & {
    filter: saturate(0.9);
  }
}

.badge:not(.badge + .badge) {
  margin-right: 0.5rem;
}

.badge.red {
  --badge-color: #9c2020;
  --badge-background: #ffd3ce;
  --dark-badge-background: #fcd2cd21;
}

.badge.blue {
  --badge-color: #2a4da5;
  --badge-background: #c7dffd;
  --dark-badge-background: #c3ddff21;
}

.badge.orange {
  --badge-color: #8d3010;
  --badge-background: #ffdcbb;
  --dark-badge-background: #ffdcbb21;
}

.badge.yellow {
  --badge-color: #7c4b20;
  --badge-background: #fcf7b2;
  --dark-badge-background: #fcf7b221;
}

.badge.green {
  --badge-color: #095945;
  --badge-background: #bcffe6;
  --dark-badge-background: #bcffe621;
}

.badge.pink {
  --badge-color: #a02558;
  --badge-background: #ffbfde;
  --dark-badge-background: #ffbfde21;
}

.badge.purple {
  --badge-color: #5b28b9;
  --badge-background: #cbc2ff;
  --dark-badge-background: #cbc2ff21;
}
