@mixin active-textarea-label {
  color: var(--primary-text-color);
}

.textarea-wrapper {
  margin: 1.3rem 0;
  .textarea-with-label {
    position: relative;
    margin-bottom: 0.5rem;
  }
  label {
    top: 0%;
    left: 0.9rem;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 0 0.5rem;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
    transition: var(--transition);
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
  }
  textarea {
    width: 100%;
    font-size: 1.4rem;
    padding: 1.2rem 1.4rem;
    border-radius: 0.8rem;
    transition: var(--transition);
    border: 0.2rem solid #bccad8;
    resize: vertical;
    .dark & {
      border-color: #a3a9b3d7;
    }
    &:focus {
      outline: none;
      border: 0.2rem solid var(--primary-text-color);
      & + label {
        @include active-textarea-label;
      }
    }
  }

  .textarea-error {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5px;
  }

  :not(textarea[value='']) + label {
    @include active-textarea-label;
  }
}

.textarea-error {
  color: var(--error-color);
}
