@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  --primary-color: #7d71fe;
  --primary-text-color: #3c4a5b;
  --secondary-text-color: #274169;
  --tertiary-text-color: #69778c;
  --primary-bg-color: #eff1fd;
  --secondary-bg-color: #fffefe;
  --tertiary-bg-color: #fffefe;
}
