@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
  font-size: 10px;
}

// Color Pallets
body {
  --primary-color: #7d71fe;
  --primary-text-color: #3d4a5a;
  --secondary-text-color: #68778d;
  --primary-bg-color: #eff1fd;
  --secondary-bg-color: #fffefe;
  --error-color: #f54337;
  --warning-color: #fe9900;
  --success-color: #4caf50;
  --transition: 100ms ease-in;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.dark {
  --primary-color: hsl(245, 90%, 72%);
  --primary-text-color: #dde2ee;
  --secondary-text-color: #a3a9b3;
  --primary-bg-color: #151a26;
  --secondary-bg-color: #1d222e;
  --error-color: #f54337;
  --warning-color: #fe9900;
  --success-color: #4caf50;
  --transition: 100ms ease-in;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--primary-bg-color);
}

*::selection {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}

p,
li {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-color);
}

input {
  color: var(--primary-text-color);
  background-color: transparent;
}

textarea {
  color: var(--primary-text-color);
  background-color: transparent;
}

button {
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

.page {
  position: relative;
  overflow-y: scroll;
  padding: 2rem 4rem;
  width: 100%;
  height: 100vh;

  // Hide Scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 690px) {
  .page {
    padding: 1rem;
  }
}
