.modal-bg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 49;
  position: fixed;
  background-color: rgba(15, 15, 15, 0.70);
  .dark & {
    background-color: rgba(15, 15, 15, 0.95);
  }
}

.modal {
  top: 50%;
  left: 50%;
  z-index: 50;
  width: 80vw;
  padding: 2rem;
  max-height: 95vh;
  position: fixed;
  max-width: 50rem;
  overflow-y: scroll;
  border-radius: 1.3rem;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-bg-color);
  // Hide Scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .modal-top {
    position: relative;
    .modal-close {
      position: absolute;
      right: 0;
      display: flex;
      font-size: 3rem;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 1.1rem;
      align-items: center;
      justify-content: center;
      color: var(--secondary-text-color);
      background-color: var(--primary-bg-color);
      transition: var(--transition);
      &:hover {
        filter: brightness(0.95);
      }
    }
  }

  .modal-body {
    max-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    width: 94vw;
  }
  .full-screen {
    bottom: 0;
    height: 100%;
    width: 100vw;
    padding: 2rem 1rem;
    max-height: 100%;
    max-width: 100vw;
    border-radius: 0;
  }
}
