.google-oauth-btn {
  cursor: pointer;
  width: fit-content;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #3383fd;
  transition: var(--transition);
  &:hover:not(.loading) {
    filter: brightness(0.9);
  }
  &:active:not(.loading) {
    transform: translateY(0.16rem);
  }
  .logo-wrapper {
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 0.5em;
    display: flex;
    align-items: center;
    .google-logo {
      align-self: flex-start;
      width: 2em;
    }
  }
  span {
    margin: auto;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
  }
}

.google-oauth-btn.loading {
  background: #3383fd
    repeating-linear-gradient(60deg, transparent, transparent 10px, #1e6de4 10px, #1e6de4 20px);
  background-size: 200% 200%;
  animation: button-loading 3s linear infinite;
}

@keyframes button-loading {
  100% {
    background-position: 100% 100%;
  }
}
