.no-notifications {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--secondary-text-color);
  span {
    position: relative;
    padding: 0 1rem;
    background-color: var(--primary-bg-color);
  }
  .separator {
    position: absolute;
    width: 80%;
    height: 0.1rem;
    background-color: var(--secondary-text-color);
  }
  @media screen and (max-width: 690px) {
    padding: 3rem;
  }
}
