.bottom-nav {
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  box-shadow: var(--shadow);
  transition: var(--transition);
  padding: 1.2rem 3.5rem 0.8rem;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  @media screen and(min-width:690px) {
    display: none;
  }

  .dark & {
    border-top: 0.01px solid rgb(88, 88, 88);
  }
}
