.bottom-nav {
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  position: fixed;
  box-shadow: 0 -1px 20px -3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  padding: 1.2rem 3.5rem 0.8rem;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);

  .dark & {
    box-shadow: none;
    border-top: 0.01px solid rgb(88, 88, 88);
  }
}
