.card-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  .option-with-percentage {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    * {
      position: relative;
    }
    .option-background {
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 0.43rem;
      position: absolute;
      background-color: #dee2f8;
      .dark & {
        background-color: var(--primary-bg-color);
      }
    }
  }

  .option-with-percentage + .option-with-percentage {
    margin-top: 1rem;
  }

  .vote-button {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 5rem;
    padding: 1rem;
    font-weight: 700;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
      background-color: #e9e8fc;
      .dark & {
        background-color: #23304b;
      }
    }
  }

  .vote-button + .vote-button {
    margin-top: 1rem;
  }
}

.card-options.result {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #68778d8e;
}
