.post-question {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 1.3rem;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  input {
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    width: 100%;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--secondary-text-color);
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
  .avatar {
    margin: 0 0.8rem;
    width: 4rem;
    height: 4rem;
  }
}
