.post-question {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 1.3rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  .avatar {
    margin: 0 0.5rem 0 0.8rem;
    width: 3.8rem;
    height: 3.8rem;
  }
  input {
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    width: 100%;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--secondary-text-color);
    }
    &:focus {
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }
  }
  .post-btn {
    padding: 0.55em 1.2em;
  }
  @media  screen and (max-width:690px) {
    input{
      font-size: 1.5rem;
    }
    .post-btn{
      font-size: 1.3rem;
    }
    .avatar {
      width: 3rem;
      height: 3rem;
    }
  }
}

