.right-side-bar {
  padding: 2rem;
  padding-left: 0;
  width: 45%;
  min-width: 340px;
  max-width: 400px;
  .footer {
    padding: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--secondary-text-color);

    a {
      color: inherit;
      font-weight: 500;
      transition: color var(--transition);

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
