.nav-bar {
  width: 38vw;
  max-width: 32rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  .nav-content {
    margin: 5rem 1.6rem 5rem 5rem;
    min-width: 22.4rem;
    display: flex;
    flex-direction: column;
    .nav-logo {
      width: 6rem;
      margin-bottom: 8rem;
    }
    .nav-top {
      width: min-content;
    }
    .nav-separator {
      height: 0.3rem;
      border-radius: 0.5rem;
      width: 90%;
      margin: 3.2rem auto;
      opacity: 0.1;
      background-color: var(--secondary-text-color);
    }
    @media screen and (max-width: 900px) {
      margin-left: 4rem;
    }
  }
  @media screen and (max-width: 800px) {
    width: fit-content;
    .nav-content {
      min-width: 0;
      padding: 0 2rem;
      margin-top: 3rem;
      margin-left: 0;
      margin-right: 0;
      align-items: center;
      .nav-logo {
        width: 4.5rem;
        margin-bottom: 6rem;
      }
    }
  }
  @media screen and (max-width: 690px) {
    display: none;
  }
}
