.nav-bar {
  width: 38vw;
  max-width: 32rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  .nav-content {
    margin-top: 4.8rem;
    margin: 5rem 1.6rem 5rem 5rem;
    min-width: 22.4rem;
    display: flex; 
    flex-direction: column;
    .nav-logo {
      width: 6rem;
      margin-bottom: 8rem;
    }
    .nav-top {
      width: min-content;
    }
    .nav-separator {
      height: 0.3rem;
      border-radius: 0.5rem;
      width: 90%;
      margin: 3.2rem auto;
      background-color: var(--primary-bg-color);
    }
  }
}
