.topic-select-wrapper {
  width: 100%;
  position: relative;
  margin-top: 2.5em;
  label {
    top: 0rem;
    z-index: 1;
    left: 0.9rem;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 0 0.5rem;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
    transition: var(--transition);
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
  }
  .topic-select-container {
    font-size: 1.4rem;
    .topic-select__control {
      padding: 0.5rem 0;
      border-radius: 0.8rem;
      border: 0.2rem solid #bccad8;
      box-shadow: none;
      &--is-focused {
        border: 0.2rem solid var(--primary-text-color);
        &:hover {
          border: 0.2rem solid var(--primary-text-color);
        }
      }
    }
  }
}
