.vote-status {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  .vote-button {
    padding: 0rem 0.1rem;
    border-radius: 0.4rem;
    font-size: 2.5rem;
    line-height: 2.2rem;
    cursor: pointer;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    @media (hover: hover) {
      &:hover {
        filter: brightness(0.9);
        &.upvote {
          svg {
            fill: #3f5bf0;
          }
        }
        &.downvote {
          svg {
            fill: #ff3350;
          }
        }
      }
    }
  }
  .vote-count {
    font-size: 1.3rem;
    margin-left: 0.2rem;
    font-weight: 600;
    color: var(--secondary-text-color);
  }
  .voted.upvote {
    svg {
      fill: #3f5bf0;
    }
    & + .vote-count {
      color: #3f5bf0;
    }
  }

  .voted.downvote {
    svg {
      fill: #ff3350;
    }
    & + .vote-count {
      color: #ff3350;
    }
  }

  .is-loading {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
