.opinion-card {
  display: flex;
  margin-top: 2rem;
  padding: 2.5rem 3rem;
  border-radius: 1.3rem;
  flex-direction: column;
  box-shadow: var(--shadow);
  background-color: var(--secondary-bg-color);
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .author-details {
      display: flex;
      align-items: center;
      .avatar {
        width: 3rem;
        height: 3rem;
      }
      div {
        margin-left: 1rem;
        h6 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 0.15rem;
        }
        span {
          font-size: 1rem;
          color: var(--secondary-text-color);
        }
      }
    }
    .time {
      font-weight: 500;
      font-size: 1.1rem;
      color: var(--secondary-text-color);
    }
  }
  &-bottom {
    display: flex;
    .opinion-card-content {
      margin-top: 0.3rem;
      margin-left: 2rem;
      h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      p {
        margin: 0;
        font-weight: 400;
        font-size: 1.3rem;
        margin-top: 0.5em;
      }
      @media screen and (max-width: 690px) {
        margin-top: 0.4rem;
        margin-left: 1.8rem;
      }
    }
  }
  @media screen and (max-width: 690px) {
    margin-top: 1.5rem;
    padding: 2rem 2rem;
  }
}
