.nav-user-details {
  display: flex;
  align-items: center;
  .nav-avatar {
    --dimension: 4.8rem;
    width: var(--dimension);
    height: var(--dimension);
  }
  .nav-details-right {
    margin-left: 1.1rem;
    display: flex;
    align-items: center;
    .details {
      margin-right: 0.32rem;
      h3 {
        margin: 0;
        font-size: 1.6rem;
        margin-bottom: 0.2em;
        color: var(--secondary-text-color);
      }
      p {
        margin: 0;
        font-size: 1.4rem;
        color: var(--tertiary-text-color);
      }
    }
  }

  .options {
    font-size: 2.4rem;
    line-height: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.8rem;
    transition: var(--transition);
    transition-property: background-color;
    &:hover {
      background-color: var(--primary-bg-color);
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-user-details {
    flex-direction: column;
    margin: 0 2rem;
    .nav-avatar {
      --dimension: 6.4rem;
      margin-bottom: 1.6rem;
    }
    .nav-details-right {
      margin: 0;
    }
  }
}
