.nav-user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  .nav-avatar {
    --dimension: 4.8rem;
    width: var(--dimension);
    height: var(--dimension);
  }
  .nav-details-right {
    margin-left: 1.1rem;
    display: flex;
    align-items: center;
    .details {
      margin-right: 0.32rem;
      h3 {
        margin: 0;
        font-size: 1.6rem;
        margin-bottom: 0.2em;
      }
      p {
        margin: 0;
        font-size: 1.4rem;
        color: var(--secondary-text-color);
      }
    }
  }
  .options-wrapper {
    position: relative;
    .options {
      border: none;
      font-size: 2.4rem;
      line-height: 1.6rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0.8rem;
      transition: var(--transition);
      color: var(--primary-text-color) !important;
      background-color: var(--secondary-bg-color);
      transition-property: background-color;
      &:hover,
      &:hover {
        filter: brightness(0.93);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-user-details {
    flex-direction: column;
    margin: 0 2rem;
    .nav-avatar {
      --dimension: 6.4rem;
      margin-bottom: 1.6rem;
    }
    .nav-details-right {
      margin: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav-user-details {
    // flex-direction: row;
    justify-content: center;
    margin: 0;
    .nav-avatar {
      --dimension: 5rem;
    }
    .nav-details-right {
      .details {
        display: none;
      }
    }
  }
}
